.home{
    display: flex;
    flex-wrap: 1;
    padding: 30px;
    color: white;
}

.add_new_transaction{
    position: absolute;
    margin: 2rem;
    bottom: 0;
    right: 0;
}

.add_new_transaction__button{
    color: white !important;
    background-color: #247cff !important;
    border-radius: 25px !important; 
    transition: all 0.5s ease-in-out !important;
}

.add_new_transaction__button:hover{
    /* color: #7d9ccb !important; */
    /* background-color: rgb(24, 113, 237) !important; */
    /* border-radius: 25px !important;  */
    /*horizontal transform */
    transform: translateX(-10px);
}

.add_new_transaction__button:hover::after {
    content: "Add new transaction";
    font-size: 1.2rem;
}

.MuiDialog-paper
{
    background-color: #1d293a !important;
    color: white !important;
    border-radius: 20px !important;
}

button{
    border: none !important;
    margin: 10px 20px;
    padding: 8px 20px ;
    border-radius: 5px;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
}

.cancel{
    background-color: #1d293a !important;
    color: white !important;
    border: 1px solid white !important;
    transition: all 0.2s ease-in-out !important;
}

.cancel:hover{
    background-color: #fd5353 !important;
    border: 1px solid transparent !important;
    color: white !important;
    transition: all 0.2s ease-in-out !important;
}

.add{
    background-color: #247cff !important;
    color: white !important;
    transition: all 0.2s ease-in-out !important;
}

.add:hover{
    background-color: rgb(12, 83, 181) !important;
    color: white !important;
    transition: all 0.2s ease-in-out !important;
}