.new_transact{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    min-height: 50vh;
    margin: 0px 20px;
    padding: 20px;
    /* background-color: #0d1117; */
}

.new_transact__body{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    /* background-color: white; */
}

.new_transact__body__wrapper{
    display: flex;
    align-items: center;
    /* justify-content: space-between;   */
    width: 100%;
}

.new_transact__body__wrapper__select{
    color: white;
    font-size: 1.2rem !important ;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 0px;
    padding: 10px;
    background-color: #111a28;
    cursor: pointer !important;
    border: none;
    outline: none;
    outline-width: none;
}

.new_transact__body__wrapper__select__option{
    color: white;
    background-color: #104087;
    padding: 10px;
    height: 20px;
}
.new_transact__body__wrapper__select__option:hover{
    background-color: #247cff;
    cursor: pointer !important;
}

input{
    font-size: 1.2rem;
    width: 100%;
    /* height: 40px; */
    margin: 25px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 2px transparent solid;
    background-color: #111a28;
    transition: all 0.2s ease-in-out;
    color: white !important;
}

input:focus{
    outline: none;
    border: 2px solid #247cff;
    background-color: #161c25;
}

.MuiSelect-root{
    color: white !important;
    border : 2px solid #ffffff !important;
    background-color: #111a28 !important;
}

.MuiSelect-select
{
    color: white !important;
}