body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010409;
  color: white;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: white;
}

.pl-6{
  padding-left: 6px;
}

.px-4{
  padding-left: 2px;
  padding-right: 2px;
}

.color-red{
  color: red !important;
}

.color-green{
  color: rgb(23, 212, 23) !important;
}

.color-white{
  color: white !important;
}

.bg-blue{
  background-color: #247cff !important;
}

.font-sm{
  font-size: 0.8rem;
}

.font-md{
  font-size: 1.2rem;
}

.font-lg{
  font-size: 1.5rem;
}

.transit-slow{
  transition: all 0.5s ease-in-out !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button{
  border: none !important;
  margin: 10px 20px;
  padding: 8px 20px ;
  border-radius: 5px;
  font-size: 1.2rem;
}
button:hover{
  cursor: pointer;
}

.cancel{
  background-color: #1d293a !important;
  color: white !important;
  border: 1px solid white !important;
  transition: all 0.2s ease-in-out !important;
}

.cancel:hover{
  /* background-color: #fd5353 !important; */
  border: 1px solid #fd5353 !important;
  color: #fd5353 !important;
  transition: all 0.2s ease-in-out !important;
}

.add{
  background-color: #247cff !important;
  color: white !important;
  transition: all 0.2s ease-in-out !important;
}

.add:hover{
  background-color: rgb(12, 83, 181) !important;
  color: white !important;
  transition: all 0.2s ease-in-out !important;
}